<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="basicActivityMapper">

	<insert id="insertOne" parameterType="java.util.HashMap">
		INSERT INTO cpsx_activity_dim_activity (merchant_id, name, type, charge_mode, domain, category, is_active, create_time)
		VALUES (#{merchant_id}, #{name}, #{type}, #{charge_mode}, #{domain}, #{category}, #{is_active}, NOW())
	</insert>
	
	<select id="select" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT cada.*, cadc.name AS category_name
		FROM cpsx_activity_dim_activity AS cada
		LEFT JOIN cpsx_activity_dim_category AS cadc
		ON cada.category = cadc.id
	</select>
	
	<select id="selectCategory" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT *
		FROM cpsx_activity_dim_category
	</select>
	
	<select id="selectOne" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT *
		FROM cpsx_activity_dim_activity
		WHERE id = #{id}
	</select>
	
	<select id="updateOne" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE cpsx_activity_dim_activity
		SET merchant_id=#{merchant_id}, name=#{name}, type=#{type}, charge_mode=#{charge_mode}, domain=#{domain}, category=#{category}, is_active=#{is_active} 
		WHERE id = #{id}
	</select>

</mapper>