<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commissionInfoMapper">

	<insert id="insertOne" parameterType="java.util.HashMap">
		INSERT INTO cpsx_activity_fact_commission_info (activity_id, name, commission, apply_goods, is_active, start_date, end_date, note, create_time)
		VALUES (#{activity_id}, #{name}, #{commission}, #{apply_goods}, #{is_active}, #{start_date}, #{end_date}, #{note}, NOW())
	</insert>
	
	<select id="select" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT cafci.*, cada.name AS activity_name
		FROM cpsx_activity_fact_commission_info AS cafci
		LEFT JOIN cpsx_activity_dim_activity AS cada
		ON cafci.activity_id = cada.id
	</select>
	
	<select id="selectActivity" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT *
		FROM cpsx_activity_dim_activity
		WHERE is_active = 1
	</select>
	
	<select id="selectOne" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT *
		FROM cpsx_activity_fact_commission_info
		WHERE id = #{id}
	</select>
	
	<select id="updateOne" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		UPDATE cpsx_activity_fact_commission_info
		SET activity_id=#{activity_id}, name=#{name}, commission=#{commission}, apply_goods=#{apply_goods}, start_date=#{start_date}, end_date=#{end_date}, is_active=#{is_active} 
		WHERE id = #{id}
	</select>

</mapper>